@page
@model KoiFarm.WebApplication.Pages.Customers.OrderDetail.EditModel
@{
    ViewData["Title"] = "Đơn hàng";
    Layout = "~/Pages/Admin/OrderDetail/_OrderDetailLayout.cshtml";
}

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-danger text-white">
            <h2>Xóa đơn hàng</h2>
        </div>
        <div class="card-body">
            <p class="text-danger">
                <strong>Bạn có chắc chắn muốn xóa đơn hàng của khách hàng dưới đây?</strong>
            </p>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Số lượng</th>
                        <td>@Model.OrderDetail.Quantity</td>
                    </tr>
                    <tr>
                        <th>Đơn giá</th>
                        <td>@Model.OrderDetail.UnitPrice</td>
                    <tr>
                        <th scope="row">Mã Koi</th>
                        <td>@Model.OrderDetail.KoiId</td>
                    </tr>
                    <tr>
                        <th scope="row">Mã Order</th>
                        <td>@Model.OrderDetail.OrderDetailId</td>
                    </tr>
                    <tr>
                        <th scope="row">Chỉnh sửa</th>
                        <td>@Model.OrderDetail.OrderId</td>
                    </tr>

                </tbody>
            </table>
            <form method="post" class="mt-4">
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-danger">
                        <i class="bi bi-trash"></i> Xóa
                    </button>
                    <a asp-page="./Index" class="btn btn-secondary">
                        <i class="bi bi-arrow-left"></i> Hủy
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
