@page
@model KoiFarm.WebApplication.Pages.Customers.OrderDetail.DetailsModel
@{
    ViewData["Title"] = "Đơn hàng";
    Layout = "~/Pages/Admin/OrderDetail/_OrderDetailLayout.cshtml";
}
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">Chi tiết đơn hàng</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="row">Số lượng</th>
                        <td>@Model.OrderDetail.Quantity</td>
                    </tr>
                    <tr>
                        <th scope="row">Đơn giá</th>
                        <td>@Model.OrderDetail.UnitPrice</td>
                    <tr>
                        <th scope="row">Mã Koi</th>
                        <td>@Model.OrderDetail.KoiId</td>
                    </tr>
                    <tr>
                        <th scope="row">Mã Order</th>
                        <td>@Model.OrderDetail.OrderDetailId</td>
                    </tr>

                    <tr>
                        <th scope="row">Chỉnh sửa</th>
                        <td>@Model.OrderDetail.OrderId</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer text-end">
            <a asp-page="./Index" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> Quay lại
            </a>
        </div>
    </div>
</div>

