@page
@model KoiFarm.WebApplication.Pages.Customers.OrderDetail.IndexModel
@{
    ViewData["Title"] = "Giỏ hàng";
    Layout = "~/Pages/Admin/OrderDetail/_OrderDetailLayout.cshtml";
}

<p>
    <div style="text-align: left; margin-bottom: 15px;">
        <a asp-page="./Create" class="btn-add">Tạo đơn hàng mới</a>
    </div>
</p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Mã Koi</th>
            <th>Mã Order</th>
            <th>Hành động</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model.OrderDetail)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Koi.KoiId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.OrderId)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.OrderDetailId">Sửa</a> |
                    <a asp-page="./Details" asp-route-id="@item.OrderDetailId">Chi tiết</a> |
                    <a asp-page="./Delete" asp-route-id="@item.OrderDetailId">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

