@page
@model KoiFarm.WebApplication.Pages.Admin.DashboardData.DeleteModel
@{
    ViewData["Title"] = "XOÁ BÁO CÁO";
    Layout = "~/Pages/Admin/_AdminLayout.cshtml";
}

<div class="content">
    <h1 class="title">Xác Nhận Xoá</h1>
    <div class="table-container">
        <h4>Thông Tin Báo Cáo</h4>
        <hr />
        <dl class="row detail-list">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DashboardDatum.MetricName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DashboardDatum.MetricName)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DashboardDatum.MetricValue)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DashboardDatum.MetricValue)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DashboardDatum.ReportDate)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DashboardDatum.ReportDate)
            </dd>
        </dl>
    </div>

    <div class="button-container">
        <form method="post" class="form-inline">
            <input type="hidden" asp-for="DashboardDatum.ReportId" />
            <button type="submit" class="btn-delete">Xoá</button>
            <a asp-page="./Index" class="btn-secondary">Quay Lại</a>
        </form>
    </div>
</div>
