@page
@model KoiFarm.WebApplication.Pages.Admin.DashboardData.DetailsModel
@{
    ViewData["Title"] = "NỘI DUNG BÁO CÁO";
    Layout = "~/Pages/Admin/_AdminLayout.cshtml";
}

<div class="content">
    <h1 class="title">Chi Tiết Báo Cáo</h1>
    <div class="table-container">
        <dl class="row detail-list">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DashboardDatum.MetricName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DashboardDatum.MetricName)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DashboardDatum.MetricValue)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DashboardDatum.MetricValue)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DashboardDatum.ReportDate)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DashboardDatum.ReportDate)
            </dd>
        </dl>
    </div>

    <div class="button-container">
        <a asp-page="./Edit" asp-route-id="@Model.DashboardDatum.ReportId" class="btn-save">Chỉnh Sửa</a>
        <a asp-page="./Index" class="btn-secondary">Quay Lại</a>
    </div>
</div>
