@page
@model KoiFarm.WebApplication.Pages.Customers.Order.DetailsModel

<div>
    <h4>KoiOrder</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiOrder.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiOrder.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiOrder.TotalAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiOrder.TotalAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiOrder.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiOrder.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiOrder.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiOrder.Customer.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.KoiOrder.OrderId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
