@page
@model KoiFarm.WebApplication.Pages.CartModel
@{
    ViewData["Title"] = "Giỏ hàng";
    Layout = "_Home";
}
<div class="bitcart">
    <table>
        <thead>
            <tr>
                <th>THÔNG TIN SẢN PHẨM</th>
                <th>GIÁ SẢN PHẨM</th>
                <th>SỐ LƯỢNG</th>
                <th>PHÍ VẬN CHUYỂN</th>
                <th>TỔNG GIÁ</th>
                <th>GỠ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var koi in Model.CartItems)
                {
                    <tr>
                        <td>
                            <div class="product-info">
                                <img class="hinhKoi" src="@Url.Content("~/KoiImages2/" + @koi.Koi.KoiImage + ".png")" alt="Ảnh của @koi.Koi.KoiName" />
                                <div class="product-details">
                                    <p>@koi.Koi.KoiName</p>
                                    <span>Giới tính: @koi.Koi.KoiGender</span>
                                    <span>Năm sinh: @koi.Koi.KoiYear</span>
                                </div>
                            </div>
                        </td>
                        <td>@koi.UnitPrice đ</td>
                        <td>
                            <input class="solg1" type="number" value="@koi.Quantity" min="1" readonly>
                        </td>
                        <td>Miễn phí</td>
                        <td>@koi.UnitPrice * @koi.Quantity đ</td>
                        <td>
                            <form method="post" action="/Cart/Remove">
                                <input type="hidden" name="OrderDetailId" value="@koi.OrderDetailId" />
                                <button type="submit" class="btn-remove">🗑</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                    </tr>
                }
        </tbody>
    </table>
</div>

@{
    decimal? totalAmount = 0;
    if (Model.CartItems != null)
    {
        totalAmount = Model.CartItems.Sum(item => item.UnitPrice * item.Quantity);
    }
}

    <div class="summary-box">
        <div class="summary-koi">
            <span class="label">Giá trị sản phẩm</span>
        <span class="value">@String.Format("{0:N0} đ", totalAmount)</></span>
        </div>
        <div class="summary-item">
            <span class="label">Phí vận chuyển</span>
            <span class="value">0đ</span>
        </div>
        <div class="summary-item-total">
            <span class="label">Tổng cộng</span>
        <span class="value">@String.Format("{0:N0} đ", totalAmount)</span>
        </div>
        <button class="checkout-btn">Thanh toán</button>
    </div>
