@page 
@model KoiFarm.WebApplication.Pages.Customer.DetailKoisModel
@{
    ViewData["Title"] = "Chi Tiết";
    Layout = "_Home";
}

@if(Model.Koi != null)
{
    <div class="mainchitiet">
        <div class="hinhkoi">
            <img src="@Url.Content("~/KoiImages2/" + @Model.Koi.KoiImage + ".png")" alt="Ảnh của @Model.Koi.KoiName" />
        </div>
        <div class="chu">
            <div class="nameKoi"> KOI @Model.Koi.KoiName </div>
            <div class="gioi thieu"></div>
            <div class="thongtin">THÔNG TIN CHI TIẾT </div>
            <div class="mieutachitiet">
                Giới tính: @Model.Koi.KoiGender <br>
                Năm sinh: @Model.Koi.KoiYear <br>
                Kích thước: @Model.Koi.KoiSize cm <br>
                Nguồn gốc: @Model.Koi.KoiOrigin <br>

            </div>
            <div class="giaca"> Giá: @Model.Koi.KoiPrice </div>

            <form method="post" asp-page-handler="Cart">
                <input type="hidden" name="koiId" value="@Model.Koi.KoiId" />
                <input class="solg" type="number" name="quantity" value="1" min="1" />
                <button type="submit" class="themgiothang"> Thêm vào giỏ hàng </button>
            </form>
            <div class="muangay">Thanh toán ngay</div>
        </div>
    </div>
}