@page
@model KoiFarm.WebApplication.Pages.SaleModel
@{
    ViewData["Title"] = "Khuyến mãi";
    Layout = "_Home";
}

<div class="product-grid">
    @foreach (var koi in Model.KoiSale.Take(9))
    {
        <a asp-page="/" asp-route-id="@koi.KoiSaleId">
            <div class="ca">
                <div class="imgca">
                    <img src="@Url.Content("~/KoiImages/" + koi.KoiImageKoiSale + ".png")" alt="Ảnh của @koi.KoiSaleName" />
                </div>
                <div class="blob">
                    <img src="~/images/Blob(1).png" style="width: 100%; height: auto;" alt="Ảnh blob" />
                </div>
                <div class="buttongia1">
                    Giá @koi.KoiSalePrice
                </div>
                <div class="tenca">@koi.KoiSaleName</div>
                <div class="mieuta">
                    Nguồn gốc: @koi.KoiSaleOrigin <br>
                    Giới tính: @koi.KoiSaleGender <br>
                    Năm sinh: @koi.KoiSaleYear <br>
                    Kích thước: @koi.KoiSaleSize cm <br>
                </div>
                <div class="so-sanh">
                    <img src="~/images/iconplus.png" /> So sánh
                </div>
                <div class="sale">
                    <img src="~/images/sale.png" style="width: 100%; height: auto;" />
                </div>
            </div>
        </a>

    }
</div>
