@page
@model KoiFarm.WebApplication.Pages.Customers.Order.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KoiOrder</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiOrder.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiOrder.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiOrder.TotalAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiOrder.TotalAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiOrder.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiOrder.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiOrder.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiOrder.Customer.UserId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="KoiOrder.OrderId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
