@page
@model KoiFarm.WebApplication.Pages.CertificationKoiSales.DetailsModel
@{
    ViewData["Title"] = "Xem giấy chứng nhận";
    Layout = "~/Pages/Admin/CertificationKoiSales/_CertificationKoiSalesLayout.cshtml";
}

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">THÔNG TIN GIẤY CHỨNG NHẬN</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="row">@Html.DisplayNameFor(model => model.CertificationKoiSale.OriginCertificateKs)</th>
                        <td>@Html.DisplayFor(model => model.CertificationKoiSale.OriginCertificateKs)</td>
                    </tr>
                    <tr>
                        <th scope="row">@Html.DisplayNameFor(model => model.CertificationKoiSale.HealthCertificateKs)</th>
                        <td>@Html.DisplayFor(model => model.CertificationKoiSale.HealthCertificateKs)</td>
                    </tr>
                    <tr>
                        <th scope="row">@Html.DisplayNameFor(model => model.CertificationKoiSale.CertificationDateKs)</th>
                        <td>@Html.DisplayFor(model => model.CertificationKoiSale.CertificationDateKs)</td>
                    </tr>
                    <tr>
                        <th scope="row">@Html.DisplayNameFor(model => model.CertificationKoiSale.KoiSale)</th>
                        <td>@Html.DisplayFor(model => model.CertificationKoiSale.KoiSale.KoiSaleId)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer text-end">
            <a class="btn btn-warning me-2" asp-page="./Edit" asp-route-id="@Model.CertificationKoiSale.CertificationKsid">
                <i class="bi bi-pencil-square"></i> Sửa
            </a>
            <a class="btn btn-secondary" asp-page="./Index">
                <i class="bi bi-list"></i> Danh sách giấy chứng nhận
            </a>
        </div>
    </div>
</div>
