@page
@model KoiFarm.WebApplication.Pages.CertificationKoiSales.IndexModel
@{
    ViewData["Tittle"] = "Giấy chứng nhận cá khuyến mãi";
    Layout = "_AdminLayout";
}


<p>
    <a asp-page="Create">Thêm</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CertificationKoiSale[0].OriginCertificateKs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CertificationKoiSale[0].HealthCertificateKs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CertificationKoiSale[0].CertificationDateKs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CertificationKoiSale[0].KoiSale)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CertificationKoiSale) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OriginCertificateKs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HealthCertificateKs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CertificationDateKs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KoiSale.KoiSaleId)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.CertificationKsid">Sửa</a> |
                    <a asp-page="./Details" asp-route-id="@item.CertificationKsid">Chi tiết</a> |
                    <a asp-page="./Delete" asp-route-id="@item.CertificationKsid">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
