@page
@model KoiFarm.WebApplication.Pages.Customers.TransactionHistory.IndexModel
@{
    ViewData["Title"] = "Lịch Sử Mua Hàng";
    Layout = "~/Pages/Admin/TransactionHistory/_Layout.cshtml";
}
<p>
    <div style="text-align: left; margin-bottom: 15px;">
        <a asp-page="./Create" class="btn-add">Thêm giao dịch mới</a>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Mã giao dịch</th>
            <th>Mã khách hàng</th>
            <th>Ngày giao dịch</th>
            <th>Loại giao dịch</th>
            <th>Số tiền</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TransactionHistory)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.TransactionId">Sửa</a>
                    <a asp-page="./Details" asp-route-id="@item.TransactionId">Chi tiết</a>
                    <a asp-page="./Delete" asp-route-id="@item.TransactionId">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>