@page
@model KoiFarm.WebApplication.Pages.Admin.Promotion.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Promotion[0].PromotionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promotion[0].DiscountPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promotion[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promotion[0].EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Promotion) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PromotionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PromotionId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PromotionId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PromotionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
