@page
@model KoiFarm.WebApplication.Pages.Admin.User.IndexModel
@{
    ViewData["Title"] = "Danh sách người dùng";
    Layout = "~/Pages/Admin/_AdminLayout.cshtml";
}

<h1>Danh sách người dùng</h1>

<div style="text-align: right; margin-bottom: 15px;">
    <a asp-page="./Create" class="btn-add">Thêm người dùng mới</a>
</div>

<div class="table-container">
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên người dùng</th>
            <th>Email</th>
            <th>Số điện thoại</th>
            <th>Vai trò</th>
            <th>Địa chỉ</th>
            <th>Điểm tích luỹ</th>
            <th>Ngày bắt đầu</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.UserId</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.Phonenumber</td>
                    <td>@user.UserRole</td>
                    <td>@user.UserAddress</td>
                    <td>@user.PointBalance</td>
                    <td>@user.DateJoined</td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@user.UserId">Xem</a> |
                        <a asp-page="./Edit" asp-route-id="@user.UserId">Sửa</a> |
                        <a asp-page="./Delete" asp-route-id="@user.UserId">Xóa</a>
                    </td>
                </tr>
            }
    </tbody>
</table>
</div>


