@page
@model KoiFarm.WebApplication.Pages.Customers.Feedback.DetailsModel
@{
    ViewData["Title"] = "Đánh giá";
    Layout = "~/Pages/Admin/Feedback/_FeedbackLayout.cshtml";
}

<div>
    <h1>Lượt đánh giá: @Model.Feedback.Rating</h1>
    <h2>Lời đánh giá: @Model.Feedback.Comments</h2>
    <h3>Ngày đánh giá: @Model.Feedback.FeedbackDate</h3>
    <h4>Mã khách hàng: @Model.Feedback.CustomerId</h4>
    <h5>Mã Koi: @Model.Feedback.KoiId</h5>
</div>

<div class="button-container">
    <a asp-page="./Index" class="btn btn-secondary">Quay lại</a>
</div>
