@page
@model KoiFarm.WebApplication.Pages.Customers.Feedback.IndexModel
@{
    ViewData["Title"] = "Đánh giá";
    Layout = "~/Pages/Admin/Feedback/_FeedbackLayout.cshtml";
}
<p>
    <div style="text-align: left; margin-bottom: 15px;">
        <a asp-page="./Create" class="btn-add">Thêm đánh giá mới</a>
    </div>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Lượt đánh giá</th>
            <th>Lời đánh giá</th>
            <th>Ngày đánh giá</th>
            <th>Mã khách hàng</th>
            <th>Mã Koi</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Feedback)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FeedbackDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Koi.KoiId)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.FeedbackId">Sửa</a> |
                    <a asp-page="./Details" asp-route-id="@item.FeedbackId">Chi tiết</a> |
                    <a asp-page="./Delete" asp-route-id="@item.FeedbackId">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
