@page
@model KoiFarm.WebApplication.Pages.Customers.Feedback.IndexModel
@{
    ViewData["Title"] = "Đánh giá";
    Layout = "~/Pages/Admin/Feedback/_FeedbackLayout.cshtml";
}
<p>
    <div style="text-align: left; margin-bottom: 15px;">
        <a asp-page="./Create" class="btn-add">Thêm đánh giá mới</a>
    </div>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Feedback[0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedback[0].Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedback[0].FeedbackDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedback[0].Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedback[0].Koi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Feedback) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeedbackDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Koi.KoiId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FeedbackId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.FeedbackId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.FeedbackId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
