@page
@model KoiFarm.WebApplication.Pages.Certifications.DetailsModel
@{
    ViewData["Title"] = "Xem giấy chứng nhận";
    Layout = "~/Pages/Admin/Certifications/_CertificationLayout.cshtml";
}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Thông tin giấy chứng nhận</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Certification.OriginCertificate)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Certification.OriginCertificate)
                </dd>
                <dt class="col-sm-4 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Certification.HealthCertificate)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Certification.HealthCertificate)
                </dd>
                <dt class="col-sm-4 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Certification.CertificationDate)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Certification.CertificationDate)
                </dd>
                <dt class="col-sm-4 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Certification.Koi)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Certification.Koi.KoiId)
                </dd>
            </dl>
        </div>
    </div>
    <div class="mt-3 text-center">
        <a class="btn btn-warning me-2" asp-page="./Edit" asp-route-id="@Model.Certification.CertificationId">
            <i class="bi bi-pencil-square"></i> Chỉnh sửa
        </a>
        <a class="btn btn-secondary" asp-page="./Index">
            <i class="bi bi-arrow-left"></i> Quay lại danh sách
        </a>
    </div>
</div>
